<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='home.js')}}"></script>
    <title>Lincoln Supermarket</title>
</head>

<body>
    <div class="container">
        <form>
            <div id="custDetial">
                <h1>Lincoln Supermarket</h1>
                <fieldset>
                    <legend>Customer Detail</legend>
                    <div class="form-group" id="custName">
                        <label for="CustomerName">Customer Name:</label>
                        <select name="customerName" id="customerName">
                            {% for cName in customerName %}
                            <option>{{cName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" id="cardNum">
                        <label for="cardNumber">Card Number:</label>
                        {% if id %}
                        <input type="text" name="cardNumber" id="cardNumber" value="{{id[0]}}" disabled>
                        {% endif %}
                        </input>
                        <div>
                            <button type="button" id="startShopping">Start Shopping</button>
                            <button type="button" id="nextCustomer">Next Customer</button>
                            <button type="button" id="exit">Exit</button>
                            <button type="button" id="customerInfo">Customer Information</button>
                        </div>
                </fieldset>
            </div>
            <div id="transcation">
                <fieldset>
                    <legend>Transcation</legend>
                    <label for="Product Name">Product Name: </label>
                    <input type="text" name="ProdName" id="ProdName">
                    <div id="itemInfo">
                        <fieldset id="itemType">
                            <legend>Item Type</legend>
                            <input type="radio" name="item" id="unit" value="Unit Item">
                            <label>Unit Item</label>
                            <input type="radio" name="item" id="weight" value="Weight Item">
                            <label>Weight Item</label>
                        </fieldset>
                        <textarea id="checkDisplay" name="checkDisplay" readonly></textarea>
                    </div>
                    <div id="itemPrice">
                        <div id="unitItem">
                            <fieldset>
                                <legend>Unit Item</legend>
                                <label for="unitNumber">Number of Units: </label>
                                <input type="number" id="unitNumber" min="1">
                                <label for="pricePerUnit">Price of Unit: </label>
                                <input type="number" step="0.01" min="1.00" id="pricePerUnit">
                            </fieldset>
                        </div>
                        <div id="weightItem">
                            <fieldset>
                                <legend>Weight Item</legend>
                                <label for="weightNumber">Total Weight: </label>
                                <input type="number" id="weightNumber" readonly>
                                <label for="pricePerKilo">Price of Kilo: </label>
                                <input type="number" step="0.01" min="1.00" id="pricePerKilo">
                            </fieldset>
                        </div>
                        <div id="btnCheckOut">
                            <div id="classGroup">
                                <button type="button" id="addCar">Add to Cart</button>
                                <button type="button" id="newItem">New Item</button>
                                <button type="button" id="checkOut">Check Out</button>
                            </div>
                            <div id="totalCost">
                                <label for="cost">Total Cost: </label>
                                <input type="text" id="cost" readonly>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="summary">
                <fieldset>
                    <legend>Summary</legend>
                    <button type="button" id="salesByCustomer">Sales by Customer</button>
                    <button type="button" id="total">Total Sales</button>
                    <button type="button" id="topCustomer">Top Customer</button>
                    <button type="button" id="average">Average Cart</button>
                    <label id="month">Select By Month:</label>
                    <input type="month" id="selectMonth">
                    <legend id="messageBox">Message Box:</legend>
                    <textarea id="display" name="display" readonly></textarea>
                </fieldset>
            </div>
        </form>
    </div>
</body>

</html>